*.elc
/auto-save-list
/elpa

# emacs tmp file
*~

# abbrevs
abbrev_defs

# auto-complete history
ac-comphist.dat

# python env
.python-environments

# tramp
tramp

# session
session.*

# transient
transient/
